@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	border: 0;
}
a {
	text-decoration: none;
}
#hbphone {
	display: none;
}
#cover {
	position: fixed;
	background-color: white;
	width: 100%;
	height: 151px;
	margin-top: -50px; 
}
#air {
	height: 100px;
}
.template {
	display: flex;
	flex-wrap: wrap;
	margin-top: 85px;
	width: 100%;
	position: fixed;
}
#navigation a:hover{
	text-decoration: underline;
}

#sweetbot {
	width: 25%;
	margin-right: 3%;
		-webkit-filter: drop-shadow( 5px 5px 5px rgba(0,0,0,0.2) ); 
            filter: drop-shadow( 5px 5px 5px rgba(0,0,0,0.2) );
}

#navigation {
	width: 72%;
	-webkit-filter: drop-shadow( 5px 5px 5px rgba(0,0,0,0.2)); 
            filter: drop-shadow( 5px 5px 5px rgba(0,0,0,0.2));
}

#stickynav {
	position: absolute;
    width: 70%;
	top: 30%;
    left: 35%;
    padding: 0px;
    /* for the "tabbed" impression  */
    overflow: visible;
	z-index: 1;
 }

#stickynav a {
    margin-right: 15%;
    font-family: Lato, sans-serif;
    font-size: 1.2vw;
    font-weight: 500;
    text-decoration: none;
	color: white;
}

#hotbottemp {
	position: fixed;
	width: 10%;
	z-index: 0;
	left: 49%;
	top: 45px;
}

.frontcontainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#mellemrum {
	height: 70px;
}
#bannerreal {
	width: 100%;
	height: 650px;
	padding: 0;
	margin-top: 50px;
	background-image: url(img/banner4.1.png);
	background-repeat: no-repeat;
	background-size: contain;
}
ul {
	margin-bottom: 50px;
	bottom: 50px;
}
#toplogo {
position: absolute;
margin-top: -315px;
}
#com1 {
	width: 25%;
	margin: auto;
	height: 450px;
	background-image: url(img/smartpack.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	font-family: lato, sans-serif;
	font-size: 1.2vw;
	font-weight: 500;
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#com1 h2{
	text-align: center;
	
}
#comtext {
	margin-top: 250px;
	text-decoration: none;
	text-align: left;
}


#com2 {
	width:25%;
	height: 450px;
	margin: auto;
	background-image: url(img/devpack.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	font-family: lato, sans-serif;
	font-size: 1.2vw;
	font-weight: 500;
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#com2 h2{
	text-align: center;
}


#com3 {
	margin: auto;
	width: 25%;
	height: 450px;
	background-image: url(img/bizpack.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	font-size: 1.2vw;
	font-family: lato, sans-serif;
	font-weight: 500;
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
#com3 h2{
	text-align: center;
}

#mellemrum2 {
	height: 120px;}
/*Emmas hotbot*/
#pil{
	float: left;
	margin-top: 250px;
	padding: 0;
	margin-left: 50px;
}
#pil2{
	float: right;
	margin-right: 50px;
	margin-top: 250px;
}

.billeder{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 70%;
	margin: auto;
	margin-top: 70px;
}

.textoverimage2{
	width: 30%;
	height: 220px;
	margin: 4px;
	background-size: cover;
	transition: 0.5s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-family: lato, sans-serif;
	font-weight: 500;
	text-align: left;
	font-size: 10px;
	background-repeat: no-repeat;
}
.textoverimage2:hover{
	box-shadow: 0 0 15px #3C3C3C;
}
.textoverimage2:after{
	top:70%;
	white-space: pre-wrap;
	color: #000;
	padding: 0 8px;
	opacity: 0;
	content:attr(data-text);
	transition: 0.5s;
		
}
.textoverimage2:hover:after{
	opacity: 1;
	top: 0;
	padding: 8px;

}
.textoverimage2:first-line{
	color: #000;
	font-weight: bold;
	text-align: left;
	font-size: 15px;

}
button{
	float: right;
	margin-top: 198px;
	background-color: #286AA6;
	color: white;
	font-size: 15px;
	z-index: 1000;
}
button:hover{
	color: #749CD3;
}
#hotbot{
	float: left;
	padding: 0;
	margin-left: -105px;
}
#mellemrum3 {
	height: 120px;}
/*Katrines arbejde*/
#mellemrum4 {
	height: 0px;}

p{
front-size: 20em;
font-family: lato, sans-serif;
font-weight: 400;
line-height: 25px;
}

#overskrift{
front-size: 1.8em;
font-weight: 500;
padding-top: 200px;
padding-left: 150px;
text-align: left; 	
font-family: lato, sans-serif;

}

#overskrift2{
front-size: 1.8em;
text-align: right;
padding-right: 290px;
padding-top: 15%;
font-family: lato, sans-serif;
font-weight: 500;
}
	
#overskrift3{
front-size: 1.8em;
padding-top: 15%;
padding-left: 150px;
text-align: left; 
font-family: lato, sans-serif;
font-weight: 500;
}

#p1 {
	max-width: 550px;
	padding-left: 150px;
	margin-right: auto;
}
#p2{
	max-width: 550px;
	padding-right: 150px;
	margin-left: auto;
}
#p3{
	max-width: 550px;
	padding-left: 150px;
	margin-right: auto;
}
#layout1 {
	margin-right: 150px;
	max-width: 90%
}
#layout2 {
	margin-left: 150px;
	max-width: 90%
}
#layout3 {
	margin-right: 150px;
	max-width: 90%
}
/* Josephines arbejde - stylesheet til kontakt side */ 
#mellemrum5 {
	height: 250px;}

#flexboks {
	width: 100%;
	height: 400px;
}

/* "book et møde" boks */

#tekstboks {
	margin-top: 5%;
	margin-bottom: 10%
}

#tekstboks h1 {
	color: #B5B2B0;
	font-family: Lato, sans-serif;
	font-size: 70px;
	font-weight: 500;
	text-align: center;
}


/* 3 kontakt muligheder - boks */

#kontaktflexboks {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#kontaktflexboks h3 {
	font-family: Lato, sans-serif;
	color: #2A1000;
	font-size: 17px;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 3px;
}

#kontaktflexboks p {
	font-family: Lato, sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #B5B2B0;
	margin: 0;
}


.tekstflexboks {
	display: inline;
	padding-left: 20px;
}

#mailboks {
	margin:auto;
	width: 30%;
	display: flex;
}
#ceo{
	margin:auto;
	width: 30%;
	display: flex;
}

.ikon {
	height: 50px;
	width: auto;
	margin-left: 100px;
}

#footerboks {
	width: 100%;
	height: 20px;
	color: #2A1000;
	background-color: #749cd3;
	font-family: Lato, sans-serif;
	font-size: 12px;
	font-weight: 500;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 2px;
}
section {
	width: 100%;
	height: auto;
}
/* her er farveindeling til sectionerne*/
/*
section:nth-child(1) {
    background-color: lightgreen;
}
section:nth-child(2) {
    background-color: lightblue;
}
section:nth-child(3) {
    background-color: cornsilk;
}
section:nth-child(4) {
    background-color: tan;
}
section:nth-child(5) {
    background-color: wheat;
} 
*/
/*media query inde i dette stylesheet (en slags "mini stylesheet" inde i et andet)*/
@media all and (max-width : 1024px) {
/* navigation bar */
	#navbar{
		visibility: hidden;
		height: 54px;
	}
	
	#navigation {
	width: 100%;
	margin-top: -62px;
}
	#sweetbot {
		margin-top: -35px;
		width: 35%;
	}
	
#stickynav {
	position:static;
    width: inherit;
	top: 0;
    left: 0;
    /* for the "tabbed" impression  
    overflow: visible;
	z-index: 1;*/
 }

#stickynav a {
	display: block;
    margin-right: 0;
    font-size: medium;
	color: white;
	text-align: center;
	background-color: #DF9B67;
	padding: 10px;
	text-decoration: none;
	padding-top: 0px; 
	border-top: 0.5px solid #3d6bb4;
}
	#navigation a:hover{
	color: #749CD3;
	text-decoration: none;
}
#hotbottemp {
	position: relative;
	width: 10%;
	z-index: 2;
	left: 0%;
	top: 5px;
}
	#bannerreal {
	height: 250px;
	padding: 0;
	margin-top: 200px;
	background-repeat: no-repeat;
	background-size: cover;
}
#toplogo {
position: relative;
margin-top: -75px;
}
	#pil{
	visibility: hidden;
	float: left;
	margin-top: 250px;
	padding: 0;
	margin-left: 50px;
}
#pil2{
	visibility: hidden;
	float: right;
	margin-right: 50px;
	margin-top: 250px;
}


.billeder{
	width: 80%;
	margin-left:  auto;
	margin-top: 0px;
}

.textoverimage2{
	width: 30%;
	height: 100px;
	margin: 4px;
	background-size:contain;
	transition: 0.5s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-repeat: no-repeat;
	 
}
.textoverimage2:hover{
	visibility: none;
	box-shadow: 0 0 15px #3C3C3C;
	
	
}
.textoverimage2:after{
	visibility: none;
	top:70%;
	white-space: 0;
	color: #000;
	padding: 0 0px;
	opacity: 0;
	content:attr(data-text);
	transition: 0.5s;
		
}
.textoverimage2:hover:after{
	visibility: none;
	opacity: 0;
	top: 0;
	padding: 0px;

}
.textoverimage2:first-line{
	visibility: none;
	color: #000;
	font-weight: bold;
	text-align: left;
	font-size: 15px;

}   
	button{
	margin-top: 85px;
}
	button{
	font-size: 10px;
}
	#hotbot{
	margin-top: 200px;
	width: 20%;
}
#comtext {
	margin-top: 120px; 
	}
#com1 {
width: 25%;
margin: 20px;
height: 300px;
margin-left: 25px;
margin-top: -200px;
font-size: 2vw;
}

#com2 {
	width:25%;
	height: 300px;
	margin: auto;
	margin-top: -200px;
	font-size: 2vw;
}

#com3 {
	margin: auto;
	width: 25%;
	height: 300px;
	margin-top: -200px;
	font-size: 2vw;
}
.frontcontainer {
	margin-top: 70px;
	}
	
p{
front-size: 15em;
font-family: lato;
line-height: 25px;
margin: auto;
}

#overskrift{
front-size: 1.8em;
padding-top: 200px;
padding-left: 315px;
text-align: left; 	
font-family: lato;

}

#overskrift2{
front-size: 1.8em;
text-align: right;
padding-right: 300px;
padding-top: 15%;
font-family: lato;
}
	
#overskrift3{
front-size: 1.8em;
padding-top: 15%;
padding-left: 315px;
text-align: left; 
font-family: lato;

}
#p1 {
	max-width: 400px;
	padding-left: 30px;
	margin-right: auto;
}
#p2{
	max-width: 400px;
	margin-left: 170px;
}
#p3{
	max-width: 400px;
	margin-right: 165px;
}
#layout1 {
	margin-left: auto;
	width: 50%;
}
#layout2 {
	float: right;
	margin-right: auto;
	width: 50%;
}
#layout3 {
	margin-left: auto;
	width: 50%;
}
	
#mellemrum {
	height: 20px;
}
#mellemrum2 {
	height: 350px;
}
#mellemrum3 {
	height: 0px;
}
/*Katrines arbejde*/
#mellemrum4 {
	height: 0px;
	} 
#mellemrum5 {
	height: 120px;
	} 
#mailboks {
	margin: auto;
	width: 50%;
	display: flex;
}
#ceo{
	margin:auto;
	width: 50%;
	display: flex;
}
.ikon {
	height: 60px;
	width: auto;
	margin-left: 13%;
}
}
/*Her starter mediaquery til smartphone*/
@media all and (max-width : 480px) {
	#bannerreal {
		visibility: hidden;
	}
#cover {
	position: fixed;
	background-color: white;
	width: 100%;
	height: 0px;
	margin-top: -60px; }

#sweetbot {
	width: 75%;
	margin-right: 3%;
	margin-top: 30px;
		-webkit-filter: drop-shadow( 5px 5px 5px rgba(0,0,0,0.2) ); 
            filter: drop-shadow( 5px 5px 5px rgba(0,0,0,0.2) );
}
#navigation img{
	margin: -4px;
	padding: 0px;
	height: 40px;
	width: auto;
	}
	
#navigation {
	-webkit-filter: drop-shadow( 5px 5px 5px rgba(0,0,0,0.2)); 
            filter: drop-shadow( 5px 5px 5px rgba(0,0,0,0.2));
}
	
#stickynav {
	position: fixed;
	display: flex;
	top: 5%;
    left: 0;
    padding: 0px;
    /* for the "tabbed" impression  */
    overflow: visible;
	z-index: 1;
 }

#stickynav a {;
    font-family: Lato, sans-serif;
    font-size: 3.7vw;
    font-weight: 500;
    text-decoration: none;
	color: white;
	border-top: 0px;
	border-left: solid;
	margin-top: -25px;
	width: 100%;
}
	#navigation a:hover{
	text-decoration: none;
}
#hotbottemp {
	display: none;
}
#hbphone {
	display: block;
	width: 45%;
	margin-top: 38%;
}
#bannerreal {
	height: 0;
	padding: 0;
	margin-top: 0;
}
#toplogo {
position: absolute;
margin-top: -315px;
visibility: hidden;
}
	#pil{
	visibility: hidden;
	float: left;
	margin-top: 250px;
	padding: 0;
	margin-left: 50px;
}
#pil2{
	visibility: hidden;
	float: right;
	margin-right: 50px;
	margin-top: 250px;
}


.billeder{
	width: 97%;
	margin-left:  auto;
	margin-top: 0px;
}

.textoverimage2{
	width: 30%;
	height: 130px;
	margin: 0px;
	background-size:contain;
	transition: 0.5s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-repeat: no-repeat;
	 
}
.textoverimage2:hover{
	visibility: none;
	box-shadow: 0 0 15px #3C3C3C;
	
	
}
.textoverimage2:after{
	visibility: none;
	top:70%;
	white-space: 0;
	color: #000;
	padding: 0 0px;
	opacity: 0;
	content:attr(data-text);
	transition: 0.5s;
		
}
.textoverimage2:hover:after{
	visibility: none;
	opacity: 0;
	top: 0;
	padding: 0px;

}
.textoverimage2:first-line{
	visibility: none;
	color: #000;
	font-weight: bold;
	text-align: left;
	font-size: 15px;

}   
	button{
	margin-top: 100px;
}
	button{
	font-size: 20px;
}
	#hotbot{
	margin-top: 200px;
}

	#com1 {
	width: 60%;
	height: 300px;
	margin-top: -200px;
	}

#com2 {
	width:60%;
	height: 300px;
	margin-top: 0px;
}

#com3 {
	width: 60%;
	height: 300px;
	margin-top: 20px;
}
#comtext {
		font-size: 3.5vw;
		margin-top: 150px;
	}
.frontcontainer {
	margin-top: 0px;
	justify-content: space-around;
	}
	
p{
front-size: 15em;
font-family: lato;
line-height: 25px;
margin: 15px;
}

#overskrift{
front-size: 1.8em;
padding-top: 200px;
padding-left: 0px;
text-align: center; 	
font-family: lato;

}

#overskrift2{
front-size: 1.8em;
text-align: center;
padding-right: 0px;
padding-top: 15%;
font-family: lato;
}
	
#overskrift3{
front-size: 1.8em;
padding-top: 15%;
padding-left: 0px;
text-align: center; 
font-family: lato;

}
#p1 {
	max-width: 800px;
	width: 90%;
	padding-left: 0px;
	margin-right: auto;
}
#p2{
	max-width: 800px;
	width: 90%;
	padding: 0px;
	margin: auto;
}
#p3{
	max-width: 800px;
	width: 90%;
	padding-left: 0px;
	margin-right: auto;
}
#layout1 {
	margin-left: auto;
	width: 100%;
}
#layout2 {
	float: right;
	margin-right: 15px;
	width: 100%;
}
#layout3 {
	margin-left: auto;
	width: 100%;
}
	
#mellemrum {
	height: 20px;
}
#mellemrum2 {
	height: 350px;
}
#mellemrum3 {
	height: 0px;
}
/*Katrines arbejde*/
#mellemrum4 {
	height: 0px;
	} 
#mellemrum5 {
	height: 80px;
	} 
#mailboks {
	margin: auto;
	width: 70%;
	display: flex;
}
#ceo{
	margin:auto;
	width: 70%;
	display: flex;
}
.ikon {
	height: 60px;
	width: auto;
	margin-left: 0;
}
}