@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	border: 0;
}

.template {
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
	width: 100%;
	position: fixed;
}

#sweetbot {
	width: 25%;
	margin-right: 3%;
		-webkit-filter: drop-shadow( 5px 5px 5px #ddd ); 
            filter: drop-shadow( 5px 5px 5px #ddd );
}

#navigation {
	width: 72%;
	-webkit-filter: drop-shadow( 5px 5px 5px #ddd ); 
            filter: drop-shadow( 5px 5px 5px #ddd );
}

#stickynav {
	position: absolute;
    width: 70%;
	top: 30%;
    left: 35%;
    padding: 0px;
    /* for the "tabbed" impression :-) */
    overflow: visible;
	z-index: 1;
 }

#stickynav a {
    margin-right: 15%;
    font-family: Lato, sans-serif;
    font-size: 1.2vw;
    font-weight: bold;
    text-decoration: none;
	color: white;
}